
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow: visible;
}
 
.sidePic{
margin-left: -300px;
width:55%;
height:100%;
position: relative;
}
.container{
    position: relative;
}
.frontCard{
    position: absolute;
    right: 800px;
    top:40px;
    
}

.backCard{
    position: absolute;
    right: 700px;
    top:300px;
}

form{
    position: absolute;
    top: 175px;
    left: 725px;
}

.happy{
    position: absolute;
    left:90px;
    top:150px;
}

  
  @media screen and (max-width: 1196px) {

    body{
      overflow: scroll;
    }
  

      .container{
        margin-left: 80px;
      
    }
    .sidePic {
      display: none;
    }
  
    .frontCard,
    .backCard,
    form {
      position: static;
      margin: 20px 0;
    }
  
    .happy {
      position: absolute;
      left: 90px;
      top: 150px;
    }
  
    .frontCard,
    .backCard {
      order: 1; 
    }
  
    form {
      order: 2; 
      margin-left: 85px;
    }

  }

  #error{
    color: red;
  }

  