
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    overflow: visible;
}


 
.sidePic{
margin-left: -300px;
width:55%;
height:100%;
position: relative;
}
.container{
    position: relative;
}
.frontCard{
    position: absolute;
    right: 800px;
    top:40px;
    
}

.backCard{
    position: absolute;
    right: 700px;
    top:300px;
}

form{
    position: absolute;
    top: 175px;
    left: 725px;
}

#subForm{
  position: absolute;
  top: 175px;
  left: 725px;
}

.cardFirstName{
    position: absolute;
    left:90px;
    top:250px;
}

#cardLastName{
  position: absolute;
  left: 160px;
  top:250px;

}

#cardNumber{
  position:absolute;
  left: 90px;
  top:220px;

}

#cardExpDate{
position: absolute;
left:300px;
top:260px;

}

#cardCvc{
  position:absolute;
  left:409px;
  top:470px;

}


@media  screen and (max-width:375px){
  
  body{
    height:100%;
  }
  #cardCvc{
    position:absolute;
    left:400px;
    top:420px;
  
  }

  .frontCard,
  .backCard,
  form,
  #subForm,
  .cardFirstName,
  #cardLastName,
  #cardNumber,
  #cardExpDate,
  #cardCvc {
    position: static; 
    left: auto;
    top: auto;
  }
  

}
  
  @media screen and (max-width: 1196px) {

    body{
      overflow: scroll;
    }
  

      .container{
        margin-left: 80px;
      
    }
    .sidePic {
      display: none;
    }
  
    .frontCard,
    .backCard,
    form {
      position: static;
      margin: 20px 0;
    }

    #subForm{
      position:static;
    }
  
    
  
    .frontCard,
    .backCard {
      order: 1; 
    }
  
    form {
      order: 2; 
      margin-left: 85px;
    }
    subform{
      order: 2;

      
    }

  }

  #error{
    color: red;
  }

  .thankYou{
    color: purple;
    font-weight: bold;
  }

  
  