.square{
    border: black solid 2px;
    height: 350px;
    width: 350px;
  margin:5px;
  padding: 5px;
   display: flex;

}

.parent{
 display: grid;
 grid-template-columns: 400px 300px;
 align-items: center;
 justify-content: center;
 padding: 10%;
 
}

@media screen and (max-width: 768px) {
    .parent {
        grid-template-columns: 1fr;
    }
}
