body {
height: 130vh;
}
  .container {
    display: grid;
    grid-template-columns: 375px 300px ;
    align-items: center;
    justify-content: center;
 padding: 10%;
  }

.square {
border: black solid 2px;
height: 350px;
width: 350px;
margin: 5px;
padding: 5px;
display: flex;
  }
  
  
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }


  footer{
    position: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }